*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
}

:root{
	--bg-color: #edd9b3;
	--text-color: #000;
	--white-text: #fff;
	--secound-color: #CCC8AA;
	--main-color: #b60f0a;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
    background-color: var(--bg-color);
}


.center {
	margin-top: 20px;
    background-color: #fff;
    width: 85%;
	margin-left: 7.5%;
    height: 60%;
	text-align: justify;
}

.book_page {
	width: 80%;
	margin-left: 10%;
	font-weight: 400;
}

.box img{
	width: 50%;
	height: auto;
	align-items: center;
	margin-left: 25%;
}

.action_button {
	width: 100%;
	align-items: center;
	text-align: center;
	color: var(--text-color);
    margin-top: 10px;
}
.button {
	width: 20%;
	list-style: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 100px;
}

.button li{
	display: inline;
}

.button a {
	color: var(--text-color);
	font-size: var(--h2-font);
}

.x {
    float: right;
}

header {
	width: 100%;
	height: 200px;
	background-image: url(img/Background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1000;
}

.back-page {
	position: fixed;
	width: 5%;
	height: 100%;
	top: 250px;
	right: 95%;
}

.back-page:hover {
	background-color: white;
}
.back-page img {
	margin-top: 200px;
	align-items: center;
	padding: 20px;
}

.skip-page {
	position: fixed;
	width: 5%;
	height: 100%;
	top: 250px;
	left: 95%;
}

.skip-page:hover {
	background-color: white;
}
.skip-page img {
	margin-top: 200px;
	align-items: center;
	padding: 20px;
}
.top {
	position: fixed;
	width: 5%;
	top: 90%;
	left: 85%;
}